@font-face {
    font-family: 'berkeley-mono';
	src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2'),
	       url('/fonts/BerkeleyMono-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'berkeley-mono';
	src: url('/fonts/BerkeleyMono-Bold.woff2') format('woff2'),
	       url('/fonts/BerkeleyMono-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'berkeley-mono';
	src: url('/fonts/BerkeleyMono-BoldItalic.woff2') format('woff2'),
	       url('/fonts/BerkeleyMono-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face {
    font-family: 'berkeley-mono';
	src: url('/fonts/BerkeleyMono-Italic.woff2') format('woff2'),
	       url('/fonts/BerkeleyMono-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

#dinoai-breadcrumb ol {
    color: var(--text-colour);
    margin: 0;
    font-family: 'berkeley-mono';
    list-style: none;
    font-size: 0;
}

#dinoai-breadcrumb ol li {
    display: inline-block;
    font-size: initial;
}

#dinoai-breadcrumb ol li::after{
    content: '/';
}

time {
    font-family: 'berkeley-mono';
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
  counter-reset: figure 0;
  background-color: var(--bg);
  color: var(--text-colour);
  font-family: "Hanken Grotesk";
  font-weight: 450;
  line-height: 1.5;
  margin: 1rem;
  text-align: justify;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

code {
    font-family: 'berkeley-mono', monospace;
    font-size: 0.8em;
    border-radis: 0.3em;
    padding: 0em 0.2em 0.2em 0.2em;
    background-color: var(--bg-highlight);
    border: var(--bg-highlight) 0.1em solid;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: auto;
    padding: 0em 2em;
    flex: 1 1 auto;
}

.dinoai-centered-full {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
}

.dinoai-centered-full h1 {
    margin: 0;
}
.dinoai-centered-full p {
    margin: 0;
}

main.menu-open-initial {
    padding-top: 10em
}

@keyframes show-menu {
    0% {
        padding-top: 0.1em;
    }
    100%{
        padding-top: 10em;
    }
}

@keyframes hide-menu {
    0% { padding-top: 10em; }
    100% { padding-top: 0.1em; }
}

.dinoai-post-list-item a {
    font-family: "berkeley-mono";
    font-weight: normal;
}

.dinoai-post-list-item {
    display: flex;
    justify-content: space-between;
    font-family: 'berkeley-mono';
    overflow: hidden;
}

.dinoai-post-list p {
    color: var(--text-colour);
    padding: 0;
    margin: 0;
    flex: 1 0 auto;
    opacity: 0.8;
}
.dinoai-post-list .dots {
    overflow: hidden;
    flex: 0 1 auto;
    padding: 0em 0.5em;
    opacity: 0.4;
}
.dinoai-post-list .dots:before {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    content: "................................................... "
             "................................................... "
             "................................................... "
             "................................................... "
}

.dinoai-post-list h2 {
    font-size: 1.0em;
    padding: 0;
    margin: 0;
    flex: 1 0 auto;
}

pp.dots::before { display: block; white-space: nowrap; overflow: hidden; text-overflow: clip; content: ".................... " "...................." "...................." "...................." }

.dinoai-post-list h2:after {
    height: inherit;
    width: inherit;
    display: inherit;
    background-color: inherit;
    color: inherit;
}
.dinoai-post-list a::before{
    content: '';
    color: var(--mark-colour);
}
.dinoai-post-list a::after{
    content: '';
    color: var(--mark-colour);
}

h1 {
    text-align: left;
    //font-family: 'berkeley-mono';
    font-family: 'Hanken Grotesk';
    margin-top: 0.9em;
}

main h2 {
    text-transform: uppercase;
    font-family: 'Hanken Grotesk';
    margin-bottom: 0em;
}
main h3 {
    text-transform: uppercase;
    font-family: 'Hanken Grotesk';
    margin-bottom: 0em;
}
main h4 {
    text-transform: uppercase;
    font-family: 'Hanken Grotesk';
}
main h2::after {
    background-color: #be79ff;
    content: "";
    color: transparent;
    height: 0.1em;
    width: 1em;
    display: block;
}

main.menu-open {
    animation-duration: 0.8s;
    animation-name: show-menu;
    animation-fill-mode: forwards;
}
main.menu-close {
    animation-duration: 0.8s;
    animation-name: hide-menu;
    animation-fill-mode: forwards;
}

header {
}

footer {
  border-top: 1px solid #222;
  margin-top: 1em;
}

a {
  color: #be79ff;
  text-transform: uppercase;
  font-family: 'berkeley-mono';
  text-decoration: none;
  width: contain;
  flex: 0 0 auto;
}

//a::before{
//    content: '[ ';
//    color: var(--mark-colour);
//}
//a::after{
//    content: ' ]';
//    color: var(--mark-colour);
//}
//a:hover::before{
//    color: #82cfff;
//    transition: color 0.4s;
//}
//a:hover::after{
//    color: #82cfff;
//    transition: color 0.4s;
//}

ul {
    margin-left : calc(var(--radius) - var(--spacing));
    padding-left : 1em;
}

li::marker {
    font-family: 'berkeley-mono';
    color: #8d8d8d;
}



figure a.no-decoration::before {
    content:""
}
figure a.no-decoration::after {
    content:""
}
figure {
    font-family: 'berkeley-mono';
    padding: 1em;
    margin: 0;
    background-color: var(--bg-highlight);
}

figure img {
    margin: auto;
    padding-bottom: 1em;
    width: 100%;
}

figcaption::before {
    counter-increment: figure;
    content: "Figure " counter(figure) ": ";
}
#TableOfContents a {
    font-family: 'berkeley-mono';
    font-weight: normal;
}
#TableOfContents ul {
    padding-top: 2em;
    padding-bottom: 1em;
}

@media screen and (min-width: 900px) {
    #TableOfContents li::marker {
        content: ""
    }
    #TableOfContents li {
        --spacing : 2.3em;
        --radius  : 10px;
        border-left : 2px solid var(--mark-colour);
        display      : block;
        position     : relative;
        padding-left : calc(2 * var(--spacing) - var(--radius));
    }
    #TableOfContents li:last-child{
        border-color : transparent; 
    }

    #TableOfContents li a {
        margin-left: -1em;
    }

    #TableOfContents li::before{ 
          content      : '';
          display      : block;
          position     : absolute;
          top          : calc(var(--spacing) / -1.4);
          left         : -2px;
          width        : calc(var(--spacing) + 2px);
          height       : calc(var(--spacing) + 2px);
          border       : solid var(--mark-colour);
          border-width : 0 0 2px 2px;
    }

    #TableOfContents {
        margin-left: -0.35em;
        margin-top: -1em;
    }
}

@media screen and (max-width: 900px) {
    ul {
        margin: 0;
        padding-left: 2em;
        padding-top: 0;
        padding-bottom: 0;
    }
    @keyframes show-menu {
        0% {
            padding-top: 3em;
        }
        100%{
            padding-top: 7em;
        }
    }

    @keyframes hide-menu {
        0% { padding-top: 7em; }
        100% { padding-top: 3em; }
    }
    main.menu-open-initial {
        padding-top: 7em
    }
    main {
        max-width: 100%;
        margin: 0;
    }
}

